body{
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

article{
    margin:auto;
    max-width: 600px;
    position: relative;
    padding:5rem 0rem;
    display: block;
}
section{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
}

distribute-logo header{
    display:flex;
    align-items: baseline;
}
distribute-logo a{
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

distribute-transaction {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.4rem;
}

distribute-transaction .status{
    margin-left: 1.4rem;
    font-style: italic;
    margin-top:auto;
}

.cosmos{
    display: inline-block;
    position: relative;
    margin-left: -50px;
    bottom: 40px;
}
h1{
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}
.expand{
    flex-grow: 1;
}
div{
    display: block;
}

button[type="submit"] {
    border: none;
    font-style: italic;
    padding: 0.7rem;
    background: aquamarine;
    box-shadow: 6px 6px crimson;
    color:#111;
}
.btn-primary  {
    background-color: aquamarine !important;
    border-color: aquamarine !important;
}